html, body { /*expand body to cover the entire viewport*/
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: 13px;
    display: grid; /*turn body into a grid container*/
    grid-template-rows: 150px auto 100px;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

ul { /*remove the bullets and the margins and padding from the list*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display:inline;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    opacity: 0.75; 
}

a:hover {
    text-decoration: underline;
}

/*There are two ways to create a horizontal navigation bar. 

1. Using inline (by default, <li> elements are block elements. 
Here, we remove the line breaks before and after each list item, 
to display them on one line) or 

2. floating list items. 
Right-align links by floating the list items to the right (float:right;)*/

#navbar {
    grid-area: header;
    align-self: start;
    margin-left: -15px;
    line-height: 40px;
}

#left-navbar {
    float:left;
    margin-left: 30px;
}

#right-navbar {
    float:right;
    margin-right: 30px;
}

#navbar a {
    padding-left: 15px;
    padding-top: 10px;
}

#dots-menu {
    display: inline;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#sign-in {
    border: 1px solid #4285f4;
    font-weight: bold;
    background-color: #4285f4;
    color: #fff;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px; 
}

main {
    grid-area: main;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 39px;
}

#search-form {
   width: 589px;
   margin: auto;
   display: flex;
   border:1px solid #dfe1e5;
   box-shadow:none;
   border-radius:24px;
   height:44px;
   margin:0 auto;
   align-items: center;
   justify-content: space-between;
}

#search-form:hover {
    box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);
    border-color:rgba(223,225,229,0)
}

#lens {
    color: #9AA0A6;
    height: 15px;
    width: 15px;
    padding-left: 12px;
}

#input {
    background-color: transparent;
    border: none;
    align-self: stretch;
    width: 500px;  
}

#mic {
    height: 24px; 
    width: 24px;
    padding-right: 8px;
}

#search-buttons {
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
}

.search-button {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    color: #5F6368;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;  
}

.search-button:hover {
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    border:1px solid #c6c6c6;
    color:#222
}

footer {
    grid-area: footer;
    align-self: end;
    background-color: #f2f2f2;
    line-height: 40px;
    margin-left: -27px;
}

footer a {
    padding-left: 27px; /*add spacing between links*/

}

#left-footer {
    float:left;
    margin-left: 30px;
}

#right-footer {
    float:right;
    margin-right: 30px;
}