html, body { /*expand body to cover the entire viewport*/
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: 13px;
    display: grid; /*turn body into a grid container*/
    grid-template-rows: 150px auto 100px;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

ul { /*remove the bullets and the margins and padding from the list*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display:inline;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    opacity: 0.75; 
}

a:hover {
    text-decoration: underline;
}

#navbar {
    grid-area: header;
    align-self: start;
    margin-left: -15px;
    line-height: 40px;
}

#navbar a {
    padding-left: 15px;
    padding-top: 10px;
}

#dots-menu {
    display: inline;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#sign-in {
    border: 1px solid #4285f4;
    font-weight: bold;
    background-color: #4285f4;
    color: #fff;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px; 
}

main {
    grid-area: main;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

#search-bar {
    width: 500px;
    margin: auto;
}

#logo {
    margin-left: auto;
    margin-right: auto;
}

#search-buttons {
    margin-left: auto;
    margin-right: auto;
}

.search-button {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #5F6368;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;  
}

.search-button:hover {
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    border:1px solid #c6c6c6;
    color:#222
}

footer {
    grid-area: footer;
    align-self: end;
    background-color: #f2f2f2;
    line-height: 40px;
    margin-left: -27px;
}

footer a {
    padding-left: 27px; /*add spacing between links*/

}

#left-navbar {
    float:left;
    margin-left: 30px;
}

#right-navbar {
    float:right;
    margin-right: 30px;
}

#left-footer {
    float:left;
    margin-left: 30px;
}

#right-footer {
    float:right;
    margin-right: 30px;
}